@font-face {
  font-family: "ChunkFivePrint";
  src: url("../resources/fonts/ChunkFivePrint.ttf.woff") format("woff"),
    url("../resources/fonts/ChunkFivePrint.ttf.svg#ChunkFivePrint")
      format("svg"),
    url("../resources/fonts/ChunkFivePrint.ttf.eot");
  font-weight: normal;
  font-style: normal;
}

.main-title {
  color: rgb(0, 0, 0);
  font-family: ChunkFivePrint;
  font-size: 60px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('../resources/images/candlestick1.jpg');
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: 80%;
  margin: 1%;
  font-size: 120px;
  animation: clouds-moving infinite 220s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
}
@keyframes clouds-moving {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.attribute {
  position: relative;
  font-size: 26px;
  text-align: center;
}
